* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

/* Global CSS */
h1, h2, h3,h4 , h5, h6, a {
    font-family: 'Oswald', sans-serif;
}
.container {
    width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
}

/* Header CSS */
header {
    background: #303030;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

nav ul {
    display: flex;
    gap: 55px
}
nav li {
    list-style: none;
}
nav a {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
.search a i {
    color: #fff;
    font-size: 25px;
}